mixin list-icon-top-header(values)
    each value in values
        li(class=attributes.class + '-list-item')
            a(href="" class=attributes.class + '-list-link')!= value

- var icons = ['<i class="fab fa-facebook-f"></i>', '<i class="fab fa-google-plus-g"></i>','<i class="fab fa-instagram"></i>', '<i class="fab fa-twitter"></i>'] 

header
    .top
        .container.top__wrapper
            .top__socials
                ul.top__socials-list
                    +list-icon-top-header(icons)(class="top__socials")
            .top__login
                ul.top__login-list
                    +list-icon-top-header(["đăng kí","đăng nhập"])(class="top__login")
                    
   

