- var icons = ['<i class="fab fa-facebook-f"></i>', '<i class="fab fa-google-plus-g"></i>','<i class="fab fa-instagram"></i>', '<i class="fab fa-twitter"></i>'] 


- var val_drop_down = { "title" : 'MÁY KHOAN BLACK  DECKER', 'quality': '1', 'price' : '1.200.000', "img": '../../assets/images/maykhoan1.png'}
- var val_drop_down2 = { "title" : 'MÁY KHOAN BLACK  DECKER', 'quality': '1', 'price' : '1.200.000', "img": '../../assets/images/drop-down-2.png'}
- var val_drop_down3 = { "title" : 'MÁY KHOAN BLACK  DECKER', 'quality': '1', 'price' : '1.200.000', "img": '../../assets/images/drop-down-3.png'}



// hot product
- var value_hot_products = ["Máy khoan, máy cắt CNC", 'Máy in phun cỡ lớn', 'Máy quét Canon 3D', 'Máy hàn điện Alunima', 'Máy khoan Decameta', 'Máy phay đa năng CNC', 'Máy mài, tiện DC 12V','Máy khoan, cắt CNC', 'Máy quay thông minh N3', 'Motor R34C đa dụng', 'Máy in laser màu 3D']

- var value_products = {"img" : '../../assets/images/hot-pro-1.png',"price" : '1.500.000 Đ', 'title' : "máy khoan black decker", 'command': '12', 'status' : true}
- var value_products2 = {"img" : '../../assets/images/hot-pro-2.png',"price" : '1.500.000 Đ', 'title' : "máy khoan black decker", 'command': '12', 'status' : true}
- var value_products3 = {"img" : '../../assets/images/hot-pro-3.png',"price" : '1.500.000 Đ', 'title' : "máy khoan black decker", 'command': '12', 'status' : true}
- var value_products4 = {"img" : '../../assets/images/hot-pro-4.png',"price" : '1.500.000 Đ', 'title' : "máy khoan black decker", 'command': '12', 'status' : true}
- var value_products5 = {"img" : '../../assets/images/hot-pro-5.png',"price" : '1.500.000 Đ', 'title' : "máy khoan black decker", 'command': '12', 'status' : true}
- var value_products6 = {"img" : '../../assets/images/hot-pro-6.png',"price" : '1.500.000 Đ', 'title' : "máy khoan black decker", 'command': '12', 'status' : true}



// new product
- var category_tag = ["Máy khoan", 'Máy in 3D', 'Máy CNC', 'Máy tiện', 'Máy khắc']

- var value_new_product = {"img" : '../../assets/images/new-pro-1.png',"price" : '1.500.000 Đ', 'title' : "máy khoan black decker", 'command': '12', 'status' : true}
- var value_new_product2 = {"img" : '../../assets/images/new-pro-2.png',"price" : '1.500.000 Đ', 'title' : "máy khoan black decker", 'command': '12', 'status' : true}
- var value_new_product3 = {"img" : '../../assets/images/new-pro-3.png',"price" : '1.500.000 Đ', 'title' : "máy khoan black decker", 'command': '12', 'status' : true}



// selling product
- var sell_products2 = {"img" : '../../assets/images/sell-product.png',"price" : '1.500.000 Đ', 'title' : "máy khoan black decker", 'command': '12','status' : false}
- var sell_products3 = {"img" : '../../assets/images/hot-pro-3.png',"price" : '1.500.000 Đ', 'title' : "máy khoan black decker", 'command': '12','status' : false}
- var sell_products4 = {"img" : '../../assets/images/hot-pro-4.png',"price" : '1.500.000 Đ', 'title' : "máy khoan black decker", 'command': '12','status' : false}
- var sell_products5 = {"img" : '../../assets/images/hot-pro-5.png',"price" : '1.500.000 Đ', 'title' : "máy khoan black decker", 'command': '12','status' : false}
- var sell_products6 = {"img" : '../../assets/images/hot-pro-6.png',"price" : '1.500.000 Đ', 'title' : "máy khoan black decker", 'command': '12' ,'status' : false}



// new available
- var new_available = {"img" : '../../assets/images/sp-moi-ve1.png',"price" : '2.350.000 Đ', 'title' : "máy khoan CNC 3D", 'command': '12' ,'status' : true, 'description' : 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do'}
- var new_available2 = {"img" : '../../assets/images/hot-pro-3.png',"price" : '2.350.000 Đ', 'title' : "máy khoan CNC 3D", 'command': '12' ,'status' : true, 'description' : 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do'}
- var new_available3 = {"img" : '../../assets/images/hot-pro-2.png',"price" : '2.350.000 Đ', 'title' : "máy khoan CNC 3D", 'command': '12' ,'status' : true, 'description' : 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do'}
- var new_available4 = {"img" : '../../assets/images/new-avai-1.png',"price" : '2.350.000 Đ', 'title' : "máy khoan CNC 3D", 'command': '12' ,'status' : true, 'description' : 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do'}



// footer
- var value_footer_info = "Công ty cổ phần công nghệ DKT đã và đang khằng định được vị trí hàng đầu trong lĩnh vực Thương mại điện tử"
- var value_footer_info2 = "Tầng 4 - tòa nhà Hanoi group 442 Đội Cấn Ba Đình - Hà Nội"
- var value_footer_info3 = "support@dkt.com.vn"
- var value_footer_info4 = "(84-4) 66558868  -  (84-4) 37868904"
- var value_footer_info5 = "chính sách giao hàng"
- var value_footer_info6 = "chính sách đổi sản phẩm"
- var value_footer_info7 = "chính sách bảo hành"
- var value_footer_info8 = "chính sách trả góp"
- var value_footer_info9 = "giới thiệu hàng đổi trả"
- var value_footer_info10 = "vận chuyển miễn phí"
- var value_footer_info11 = "hệ thống cửa hàng"
- var value_footer_info12= "hướng dẫn mua hàng"
- var value_footer_info13 = "hướng dẫn thanh toán"
- var value_footer_info14 = "tích điểm đổi thưởng"
- var value_footer_info15 = "dịch vụ đổi trả hàng"
- var value_footer_info16 = "câu hỏi thường gặp"
- var value_footer_info17 = "tin tức mới nhất"
- var value_footer_info18 = "tin tức khuyến mãi"
- var value_footer_info19 = "tuyển dụng đãi ngộ"
- var value_footer_info20 = "download tài liệu"
- var value_footer_info21 = "chường trình đối tác"
- var value_footer_info22 = "nhà phát triển ứng dụng"
- var value_footer_info23 = "facebook"
- var value_footer_info24 = "twitter"
- var value_footer_info25 = "google"
- var value_footer_info26 = "skype"
- var value_footer_info27 = "instagram"



- value_info_pay = ["../../assets/images/pay-1.png","../../assets/images/pay-2.png","../../assets/images/pay-3.png","../../assets/images/pay-4.png","../../assets/images/pay-5.png","../../assets/images/pay-6.png","../../assets/images/pay-7.png","../../assets/images/pay-8.png"]

- value_footer_contact ={'title' : 'Tư vấn miễn phí(24/7)', 'phone' : '1900 650 650'}
- value_footer_contact2 ={'title' : 'Góp ý - phản hồi - thắc mắc', 'phone' : '1900 650 650'}


- var value_footer_menu = ["Trang chủ", 'Giới thiệu', 'Sản phẩm', 'Tin khuyến mãi', 'Dịch vụ', 'Liên hệ']