- var icons = ['<i class="fab fa-facebook-f"></i>', '<i class="fab fa-google-plus-g"></i>','<i class="fab fa-instagram"></i>', '<i class="fab fa-twitter"></i>'] 


- var val_drop_down = { "title" : 'MÁY KHOAN BLACK  DECKER', 'quality': '1', 'price' : '1.200.000', "img": '../../assets/images/maykhoan1.png'}
- var val_drop_down2 = { "title" : 'MÁY KHOAN BLACK  DECKER', 'quality': '1', 'price' : '1.200.000', "img": '../../assets/images/drop-down-2.png'}
- var val_drop_down3 = { "title" : 'MÁY KHOAN BLACK  DECKER', 'quality': '1', 'price' : '1.200.000', "img": '../../assets/images/drop-down-3.png'}



// hot product
- var value_hot_products = ["Máy khoan, máy cắt CNC", 'Máy in phun cỡ lớn', 'Máy quét Canon 3D', 'Máy hàn điện Alunima', 'Máy khoan Decameta', 'Máy phay đa năng CNC', 'Máy mài, tiện DC 12V','Máy khoan, cắt CNC', 'Máy quay thông minh N3', 'Motor R34C đa dụng', 'Máy in laser màu 3D']

- var value_products = {"img" : '../../assets/images/hot-pro-1.png',"price" : '1.500.000 Đ', 'title' : "máy khoan black decker", 'command': '12', 'status' : true}
- var value_products2 = {"img" : '../../assets/images/hot-pro-2.png',"price" : '1.500.000 Đ', 'title' : "máy khoan black decker", 'command': '12', 'status' : true}
- var value_products3 = {"img" : '../../assets/images/hot-pro-3.png',"price" : '1.500.000 Đ', 'title' : "máy khoan black decker", 'command': '12', 'status' : true}
- var value_products4 = {"img" : '../../assets/images/hot-pro-4.png',"price" : '1.500.000 Đ', 'title' : "máy khoan black decker", 'command': '12', 'status' : true}
- var value_products5 = {"img" : '../../assets/images/hot-pro-5.png',"price" : '1.500.000 Đ', 'title' : "máy khoan black decker", 'command': '12', 'status' : true}
- var value_products6 = {"img" : '../../assets/images/hot-pro-6.png',"price" : '1.500.000 Đ', 'title' : "máy khoan black decker", 'command': '12', 'status' : true}



// new product
- var category_tag = ["Máy khoan", 'Máy in 3D', 'Máy CNC', 'Máy tiện', 'Máy khắc']

- var value_new_product = {"img" : '../../assets/images/new-pro-1.png',"price" : '1.500.000 Đ', 'title' : "máy khoan black decker", 'command': '12', 'status' : true}
- var value_new_product2 = {"img" : '../../assets/images/new-pro-2.png',"price" : '1.500.000 Đ', 'title' : "máy khoan black decker", 'command': '12', 'status' : true}
- var value_new_product3 = {"img" : '../../assets/images/new-pro-3.png',"price" : '1.500.000 Đ', 'title' : "máy khoan black decker", 'command': '12', 'status' : true}



// selling product
- var sell_products2 = {"img" : '../../assets/images/sell-product.png',"price" : '1.500.000 Đ', 'title' : "máy khoan black decker", 'command': '12','status' : false}
- var sell_products3 = {"img" : '../../assets/images/hot-pro-3.png',"price" : '1.500.000 Đ', 'title' : "máy khoan black decker", 'command': '12','status' : false}
- var sell_products4 = {"img" : '../../assets/images/hot-pro-4.png',"price" : '1.500.000 Đ', 'title' : "máy khoan black decker", 'command': '12','status' : false}
- var sell_products5 = {"img" : '../../assets/images/hot-pro-5.png',"price" : '1.500.000 Đ', 'title' : "máy khoan black decker", 'command': '12','status' : false}
- var sell_products6 = {"img" : '../../assets/images/hot-pro-6.png',"price" : '1.500.000 Đ', 'title' : "máy khoan black decker", 'command': '12' ,'status' : false}



// new available
- var new_available = {"img" : '../../assets/images/sp-moi-ve1.png',"price" : '2.350.000 Đ', 'title' : "máy khoan CNC 3D", 'command': '12' ,'status' : true, 'description' : 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do'}
- var new_available2 = {"img" : '../../assets/images/hot-pro-3.png',"price" : '2.350.000 Đ', 'title' : "máy khoan CNC 3D", 'command': '12' ,'status' : true, 'description' : 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do'}
- var new_available3 = {"img" : '../../assets/images/hot-pro-2.png',"price" : '2.350.000 Đ', 'title' : "máy khoan CNC 3D", 'command': '12' ,'status' : true, 'description' : 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do'}
- var new_available4 = {"img" : '../../assets/images/new-avai-1.png',"price" : '2.350.000 Đ', 'title' : "máy khoan CNC 3D", 'command': '12' ,'status' : true, 'description' : 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do'}
