doctype html
html
    head
        include includes/head.pug
    body
        include includes/header.pug
        block home
        block list
        block details
        block register
        block login
        block blog
        block page-404
        block popup            
        block processBuyProduct        

        include includes/footer.pug

