<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project 1</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="./../../styles/custom.css">
  </head>
  <body>
    <!-- menu drop down-->
    <!-- list item in submenu -->
    <!-- submenu-->
    <!-- submenu-->
    <header>
      <!-- start header top-->
      <section class="top">
        <div class="container top__wrapper">
          <div class="top__socials">
            <ul class="top__socials-list">
                  <li class="top__socials-list-item"><a class="top__socials-list-link" href=""><i class="fab fa-facebook-f"></i></a></li>
                  <li class="top__socials-list-item"><a class="top__socials-list-link" href=""><i class="fab fa-google-plus-g"></i></a></li>
                  <li class="top__socials-list-item"><a class="top__socials-list-link" href=""><i class="fab fa-instagram"></i></a></li>
                  <li class="top__socials-list-item"><a class="top__socials-list-link" href=""><i class="fab fa-twitter"></i></a></li>
            </ul>
          </div>
          <div class="top__login">
            <ul class="top__login-list">
                  <li class="top__login-list-item"><a class="top__login-list-link" href="">đăng kí</a></li>
                  <li class="top__login-list-item"><a class="top__login-list-link" href="">đăng nhập</a></li>
            </ul>
          </div>
        </div>
      </section>
      <!-- end header top-->
      <!-- start header middle (logo + hotline +  search)-->
      <section class="middle">
        <div class="container middle__wrapper">
          <div class="middle__logo">
            <h1><a class="logo__link" href=""> <img class="middle__logo-img" src="../../assets/images/Logo.png" alt="logo"></a></h1>
          </div>
          <div class="middle__hotline">
            <div class="middle__hotline-hotline">
              <p class="middle__hotline-title">hotline :</p>
              <p class="middle__hotline-phone">(04) 9500 9650 - (04) 9500 8850</p>
            </div>
            <div class="middle__hotline-order">
              <p class="middle__hotline-title">đặt hàng nhanh :</p>
              <p class="middle__hotline-phone">(04) 9500 9650 - (04) 9500 8850</p>
            </div>
          </div>
          <div class="middle__search-bar">
            <input class="middle__input-search" type="text" placeholder="Tìm kiếm...">
          </div>
        </div>
      </section>
      <!-- end header middle (logo + hotline +  search)-->
      <!-- start menu-->
      <section class="menu">
        <nav class="container menu__wrapper">
          <ul class="menu__list">
            <li class="menu__list-item menu__list-item--hover menu__list-mega-menu"><a class="menu__list-link" href="">trang chủ</a>
              <ul class="sub-menu mega-menu mega-menu--disable">
                <li class="sub-menu__block">
                  <ul class="sub-menu__list">
                    <li class="sub-menu__list-title"></li>
                        <div class="wrapper-icon-title">
                          <ul class="icon--format wrapper-icon-title__list">
                            <li class="wrapper-icon-title__item">.</li>
                            <li class="wrapper-icon-title__item">.</li>
                            <li class="wrapper-icon-title__item">.</li>
                            <li class="wrapper-icon-title__item">.</li>
                          </ul><a class="icon--format wrapper-icon-title__link" href="">MÁY Khoan đa năng cnc</a>
                        </div>
                        <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy khoan CNC điện </a></li>
                        <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy phay đa năng 3R</a></li>
                        <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy hàn, cắt kim loại</a></li>
                        <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy in phun tích điện</a></li>
                        <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy ép gỗ chuẩn Nano</a></li>
                  </ul>
                </li>
                <li class="sub-menu__block">
                  <ul class="sub-menu__list">
                    <li class="sub-menu__list-title"></li>
                        <div class="wrapper-icon-title">
                          <ul class="icon--format wrapper-icon-title__list">
                            <li class="wrapper-icon-title__item">.</li>
                            <li class="wrapper-icon-title__item">.</li>
                            <li class="wrapper-icon-title__item">.</li>
                            <li class="wrapper-icon-title__item">.</li>
                          </ul><a class="icon--format wrapper-icon-title__link" href="">MÁY cắt plasmar</a>
                        </div>
                        <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy khoan CNC điện </a></li>
                        <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy phay đa năng 3R</a></li>
                        <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy hàn, cắt kim loại</a></li>
                        <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy in phun tích điện</a></li>
                        <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy ép gỗ chuẩn Nano</a></li>
                  </ul>
                </li>
                <li class="sub-menu__block">
                  <ul class="sub-menu__list">
                    <li class="sub-menu__list-title"></li>
                        <div class="wrapper-icon-title">
                          <ul class="icon--format wrapper-icon-title__list">
                            <li class="wrapper-icon-title__item">.</li>
                            <li class="wrapper-icon-title__item">.</li>
                            <li class="wrapper-icon-title__item">.</li>
                            <li class="wrapper-icon-title__item">.</li>
                          </ul><a class="icon--format wrapper-icon-title__link" href="">MÁY phay công nghiệp</a>
                        </div>
                        <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy khoan CNC điện </a></li>
                        <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy phay đa năng 3R</a></li>
                        <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy hàn, cắt kim loại</a></li>
                        <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy in phun tích điện</a></li>
                        <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy ép gỗ chuẩn Nano</a></li>
                  </ul>
                </li>
                <li class="sub-menu__block">
                  <ul class="sub-menu__list">
                    <li class="sub-menu__list-title"></li>
                        <div class="wrapper-icon-title">
                          <ul class="icon--format wrapper-icon-title__list">
                            <li class="wrapper-icon-title__item">.</li>
                            <li class="wrapper-icon-title__item">.</li>
                            <li class="wrapper-icon-title__item">.</li>
                            <li class="wrapper-icon-title__item">.</li>
                          </ul><a class="icon--format wrapper-icon-title__link" href="">MÁY ép nhựa thủ công</a>
                        </div>
                        <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy khoan CNC điện </a></li>
                        <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy phay đa năng 3R</a></li>
                        <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy hàn, cắt kim loại</a></li>
                        <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy in phun tích điện</a></li>
                  </ul>
                </li>
                <li class="sub-menu__block">
                  <ul class="sub-menu__list">
                    <li class="sub-menu__list-title"></li>
                        <div class="wrapper-icon-title">
                          <ul class="icon--format wrapper-icon-title__list">
                            <li class="wrapper-icon-title__item">.</li>
                            <li class="wrapper-icon-title__item">.</li>
                            <li class="wrapper-icon-title__item">.</li>
                            <li class="wrapper-icon-title__item">.</li>
                          </ul><a class="icon--format wrapper-icon-title__link" href="">MÁY uống tôn điện</a>
                        </div>
                        <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy khoan CNC điện </a></li>
                        <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy phay đa năng 3R</a></li>
                        <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy hàn, cắt kim loại</a></li>
                        <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy in phun tích điện</a></li>
                  </ul>
                </li>
                <li class="sub-menu__block">
                  <ul class="sub-menu__list">
                    <li class="sub-menu__list-title"></li>
                        <div class="wrapper-icon-title">
                          <ul class="icon--format wrapper-icon-title__list">
                            <li class="wrapper-icon-title__item">.</li>
                            <li class="wrapper-icon-title__item">.</li>
                            <li class="wrapper-icon-title__item">.</li>
                            <li class="wrapper-icon-title__item">.</li>
                          </ul><a class="icon--format wrapper-icon-title__link" href="">MÁY nén khí cnc</a>
                        </div>
                        <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy khoan CNC điện </a></li>
                        <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy phay đa năng 3R</a></li>
                        <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy hàn, cắt kim loại</a></li>
                        <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy in phun tích điện</a></li>
                  </ul>
                </li>
                <li class="sub-menu__block-img"><img src="../../assets/images/img-mega.png" alt=""></li>
              </ul>
            </li>
            <li class="menu__list-item menu__list-item--hover"><a class="menu__list-link" href="">giới thiệu </a>
                  <ul class="sub-menu sub-menu--disable">
                        <li class="sub-menu__list-item menu__list-item--hover"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Giới thiệu chung</a></li>
                    <li class="sub-menu__list-item menu__list-item--hover"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Hệ thống cửa hàng</a>
                          <ul class="sub-menu sub-menu--format sub-menu--disable">
                                <li class="sub-menu__list-item menu__list-item--hover"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Hệ thống cửa hàng A</a></li>
                                <li class="sub-menu__list-item menu__list-item--hover"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Hệ thống cửa hàng A1</a></li>
                                <li class="sub-menu__list-item menu__list-item--hover"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Hệ thống cửa hàng A2</a></li>
                                <li class="sub-menu__list-item menu__list-item--hover"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Hệ thống cửa hàng A3</a></li>
                          </ul>
                    </li>
                        <li class="sub-menu__list-item menu__list-item--hover"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Chính sách ưu đãi</a></li>
                        <li class="sub-menu__list-item menu__list-item--hover"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Thông tin tuyển dụng</a></li>
                  </ul>
            </li>
            <li class="menu__list-item"><a class="menu__list-link" href="">sản phẩm</a></li>
            <li class="menu__list-item"><a class="menu__list-link" href="">tin khuyến mãi</a></li>
            <li class="menu__list-item"><a class="menu__list-link" href="">dịch vụ</a></li>
            <li class="menu__list-item"><a class="menu__list-link" href="">liên hệ</a></li>
          </ul>
          <div class="menu__cart"><a class="menu__cart-link" href=""><i class="fas fa-shopping-cart"></i><small class="menu__cart-number">0</small></a>
            <div class="menu__cart-drop-down menu__cart-drop-down--disable">
                  <div class="block"><img class="block__img" src="../../assets/images/maykhoan1.png" alt="img">
                    <div class="content">
                      <h3 class="block__title">MÁY KHOAN BLACK  DECKER</h3>
                      <p class="block__quality">1 x</p>
                      <p class="block__price">1.200.000 Đ</p>
                    </div>
                    <div class="block__icon-close"><a class="block__icon-link" href=""><i class="fas fa-times"></i></a></div>
                  </div>
                  <div class="block"><img class="block__img" src="../../assets/images/drop-down-2.png" alt="img">
                    <div class="content">
                      <h3 class="block__title">MÁY KHOAN BLACK  DECKER</h3>
                      <p class="block__quality">1 x</p>
                      <p class="block__price">1.200.000 Đ</p>
                    </div>
                    <div class="block__icon-close"><a class="block__icon-link" href=""><i class="fas fa-times"></i></a></div>
                  </div>
                  <div class="block"><img class="block__img" src="../../assets/images/drop-down-3.png" alt="img">
                    <div class="content">
                      <h3 class="block__title">MÁY KHOAN BLACK  DECKER</h3>
                      <p class="block__quality">1 x</p>
                      <p class="block__price">1.200.000 Đ</p>
                    </div>
                    <div class="block__icon-close"><a class="block__icon-link" href=""><i class="fas fa-times"></i></a></div>
                  </div>
              <div class="menu__total">
                <p class="menu__total-money">tổng tiền: </p>
                <p class="menu__total-price">4.500.000 Đ</p><a class="menu__total-pay" href="">thanh toán</a>
              </div>
            </div>
          </div>
        </nav>
      </section>
      <!-- end menu-->
    </header>
  </body>
</html>