@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "myriad-pro";
  src: url("../assets/fonts/MYRIADPRO-REGULAR.OTF");
}
@font-face {
  font-family: "roboto";
  src: url("../assets/fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: "roboto-medium";
  src: url("../assets/fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: "roboto-bold";
  src: url("../assets/fonts/Roboto-Bold.ttf");
}
.middle__hotline-title, .top__login-list-link {
  font-family: myriad-pro;
}

.new-letter input[type=email]::placeholder, .new-letter__title, .middle__input-search {
  font-family: roboto;
}

.footer .footer-info-title--format, .new-letter input[type=submit], .product-item__link-btn, .product-item__link-title, .product-item__price, .wrapper-icon-title__link, .menu__cart-drop-down .menu__total-pay, .menu__cart-drop-down .block__title {
  font-family: roboto-medium;
}

.slider__right .slider__block-title {
  font-family: roboto-bold;
}

.footer-bottom .marker, .footer-bottom__title, .footer-bottom__link, .footer .footer-info__hotline, .footer .footer-info__title, .new-available .product-item__description, .selling-product__link-tag, .new-product__link-tag, .product-item__number-commands, .slider__right .slider__block-description, .mega-menu__item--format .menu__list-link, .wrapper-icon-title--format, .menu .sub-menu__list-link, html {
  font-family: Arial;
}

.footer .wrapper-icon-title--format::first-letter, .product-item__link-btn, .product-item__link-title, .slider__right .slider__block-title, .wrapper-icon-title__link, .menu__cart-drop-down .menu__total-pay, .menu__cart-drop-down .menu__total-price, .menu__cart-drop-down .menu__total-money, .menu__cart-drop-down .block__title, .menu__cart-link, .menu__list-link, .middle__hotline-title, .top__login-list-link {
  text-transform: uppercase;
}

.menu .sub-menu--disable {
  display: none;
}

.sub-menu__list-title, .menu .sub-menu__list-item, .menu .sub-menu {
  list-style: none;
}

.new-available, .banner-three, .selling-product, .new-product, .hot-products {
  margin-top: 60px !important;
}

.container {
  width: 80%;
  margin: auto;
}

html {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  scroll-behavior: smooth;
}

a:any-link {
  text-decoration: none;
}

.top__login-list-item, .top__socials-list-item {
  display: inline-block;
  padding: 14px 20px;
  border-right: 1px solid #eaeaea;
}

/* end header */
.top {
  width: 100%;
  height: 50px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #eaeaea;
}
.top__wrapper, .middle__wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}
.top__socials-list-item:first-child {
  background-color: #f5bd10;
}
.top__socials-list-item:first-child .top__socials-list-link:first-child {
  color: #ffffff;
}
.top__socials-list-link {
  color: #363636;
}
.top__login {
  margin-left: auto;
}
.top__login-list-item:first-child {
  border-left: 1px solid #eaeaea;
}
.top__login-list-link {
  color: #363636;
}

.middle {
  width: 100%;
  height: 120px;
}
.middle__wrapper {
  justify-content: space-between;
}
.middle__logo {
  flex: 1;
}
.middle__logo-img {
  height: auto;
  width: 140px;
}
.middle__hotline {
  display: flex;
  justify-content: space-between;
}
.middle__hotline > div {
  padding-right: 50px;
}
.middle__hotline-title {
  color: #f5bd10;
}
.middle__hotline-phone {
  font-size: 13px;
  color: #b6b6b6;
}
.middle__input-search {
  width: 320px;
  height: 50px;
  border-radius: 25px;
  border: 0.5px solid #eaeaea;
  text-indent: 20px;
  outline: none;
  background: #ffffff url(../assets/images/icon-searcch.png) no-repeat right center;
  background-position-x: calc(100% - 20px);
  background-size: 25px;
}
.middle__input-search::placeholder {
  text-indent: 20px;
  color: #b6b6b6;
}

.menu__cart-link, .menu__list-link {
  font-family: roboto-medium;
  color: #ffffff;
}

.menu__cart-drop-down .menu__total-price, .menu__cart-drop-down .menu__total-money, .menu__cart-drop-down .block__price, .menu__cart-drop-down .block__quality {
  display: inline-block;
  font-size: 13px;
  font-family: roboto-medium;
}

.menu {
  width: 100%;
  height: 70px;
  background-color: #202020;
}
.menu__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  position: relative;
}
.menu__list-item {
  position: relative;
  display: inline-block;
  padding: 24.5px 20px;
  border-right: 1px solid #2f2f2f;
}
.menu__list-item:first-child {
  background-color: #f5bd10;
}
.menu__cart-link {
  position: relative;
  top: 32%;
  font-size: 18px;
  padding: 24px;
  border-left: 1px solid #2f2f2f;
  border-right: 1px solid #2f2f2f;
}
.menu__cart-number {
  position: absolute;
  font-size: 14px;
  padding: 0px 6px;
  background: #f5bd10;
  border-radius: 10px;
  text-align: center;
  top: 20%;
  left: 55%;
}
.menu__cart {
  position: relative;
  height: 100%;
}
.menu__cart:hover .menu__cart-drop-down {
  display: initial;
}
.menu__cart-drop-down {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 9;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  box-shadow: 2px 2px 5px 0 #ebebeb, -2px 2px 5px #ebebeb;
}
.menu__cart-drop-down--disable {
  display: none;
}
.menu__cart-drop-down .block {
  display: flex;
  justify-content: space-between;
  width: 295px;
  padding: 25px 10px;
  border-top: 1px solid #ebebeb;
}
.menu__cart-drop-down .block:first-child {
  border-top: 0 !important;
}
.menu__cart-drop-down .block__img {
  object-fit: cover;
  padding-right: 10px;
  width: 80px;
  height: 80px;
}
.menu__cart-drop-down .block__title {
  font-size: 14px;
}
.menu__cart-drop-down .block__quality {
  color: #a5a5a5;
}
.menu__cart-drop-down .block__price {
  color: #ff0000;
}
.menu__cart-drop-down .block__icon-link {
  color: #898989;
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 13px;
  border: 1px solid #ebebeb;
}
.menu__cart-drop-down .menu__total {
  text-align: right;
  margin: 0 20px;
  padding-top: 20px;
  border-top: 1px solid #ebebeb;
}
.menu__cart-drop-down .menu__total-money {
  color: #363636;
}
.menu__cart-drop-down .menu__total-price {
  color: #ff0000;
}
.menu__cart-drop-down .menu__total-pay {
  display: inline-block;
  padding: 10px 15px;
  margin: 20px 0 25px 0;
  background-color: #f5bd10;
  color: #ffffff;
}
.menu__list-item--hover:hover > :not(.mega-menu) {
  display: initial;
}
.menu__list-mega-menu {
  position: initial !important;
}
.menu__list-mega-menu:hover .mega-menu {
  display: grid !important;
}
.menu .sub-menu {
  position: absolute;
  z-index: 9;
  top: 100%;
  left: -4%;
  padding-bottom: 40px;
  width: max-content;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
}
.menu .sub-menu__list-item {
  padding: 15px 40px 15px 20px;
  position: relative;
}
.menu .sub-menu__list-item:not(.mega-menu__item--format):hover {
  background-color: #f5bd10;
}
.menu .sub-menu__list-item:not(.mega-menu__item--format):hover > i {
  color: #ffffff;
}
.menu .sub-menu__list-item:not(.mega-menu__item--format):hover > .sub-menu__list-link {
  color: #ffffff;
}
.menu .sub-menu--format {
  top: 0%;
  left: 100%;
}
.menu .sub-menu__list-link {
  color: #363636;
  padding: 10px;
}

.wrapper-icon-title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.wrapper-icon-title--format {
  font-size: 13px;
  color: #898989;
  text-transform: none;
}
.wrapper-icon-title--format > .wrapper-icon-title__item {
  background-color: #898989;
}

.wrapper-icon-title__list {
  width: 12px;
  height: 13px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wrapper-icon-title__item {
  width: 5px;
  height: 5px;
  background: #f5bd10;
  font-size: 0;
}

.wrapper-icon-title__link {
  margin-left: 10px;
  color: #363636;
}

.mega-menu {
  position: relative;
  z-index: 9;
  width: 100% !important;
  padding: 30px 60px 0px 25px;
  left: 0% !important;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 20px;
  box-shadow: 2px 2px 5px 0 #ebebeb, -2px 2px 5px #ebebeb;
}
.mega-menu--disable {
  display: none;
}
.mega-menu__item--format {
  padding: 5px 0 !important;
}
.mega-menu__item--format .menu__list-link {
  font-size: 13px;
  text-transform: none;
  color: #898989;
}
.mega-menu__item--format > i {
  color: #898989;
}
.mega-menu img {
  width: 225px;
  height: 362px;
  object-fit: cover;
}
.mega-menu .sub-menu__block-img {
  grid-row: 1/span 2;
  grid-area: 1/4/span 2/span 1;
}

/* end header */
/* start slider */
.slider {
  height: 500px;
  margin: auto;
  margin-top: 30px;
  display: flex;
}
.slider__left {
  width: 65%;
  position: relative;
  overflow: hidden;
}
.slider__left > input[type=radio] {
  display: none;
}
.slider__left #slider1:checked ~ .slider__wrapper #one {
  z-index: 2;
}
.slider__left #slider2:checked ~ .slider__wrapper #two {
  z-index: 2;
}
.slider__left #slider3:checked ~ .slider__wrapper #three {
  z-index: 2;
}
.slider__left #slider1:checked ~ .slider__number-of-slider #dots1 {
  background-color: #252525;
}
.slider__left #slider2:checked ~ .slider__number-of-slider #dots2 {
  background-color: #252525;
}
.slider__left #slider3:checked ~ .slider__number-of-slider #dots3 {
  background-color: #252525;
}
.slider__wrapper {
  position: relative;
  width: 100%;
}
.slider__wrapper .slider__block {
  position: absolute;
  width: 100%;
  z-index: -1;
}
.slider__number-of-slider {
  position: absolute;
  left: 50%;
  bottom: 5%;
  z-index: 2;
  transform: translate(-50%, -5%);
}
.slider__img {
  width: 100%;
  height: 500px;
}
.slider__item {
  display: inline-block;
  font-size: 0;
  width: 12px;
  height: 12px;
  margin: 0 2px;
  background-color: #a1a1a1;
}
.slider__item-link {
  width: 100%;
  height: 100%;
  display: block;
}
.slider__right {
  width: 35%;
}
.slider__right .slider__block {
  display: flex;
  align-items: center;
  height: 25%;
  border-bottom: 1px solid #ebebeb;
}
.slider__right .slider__block > i {
  color: #f5bd10;
  font-size: 20px;
  padding: 0 30px;
}
.slider__right .slider__block:first-child > i {
  transform: rotate(-45deg);
}
.slider__right .slider__block:nth-child(2) {
  background-color: #f5bd10;
}
.slider__right .slider__block:nth-child(2) > i {
  color: #ffffff;
}
.slider__right .slider__block:nth-child(2) .slider__block-title {
  color: #ffffff !important;
}
.slider__right .slider__block:nth-child(2) .slider__block-description {
  color: #ffffff;
}
.slider__right .slider__block-title {
  font-size: 16px;
  color: #363636;
  margin-bottom: 10px;
}
.slider__right .slider__block-description {
  font-size: 13px;
  color: #898989;
}

/* end slider */
.new-available__row-title, .selling-product__row-title, .new-product__row-title, .hot-products__row-title {
  display: flex;
  justify-content: space-between;
}

.new-available__link, .selling-product__link, .new-product__link, .hot-products__link {
  font-size: 14px;
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.new-available__link-next, .selling-product__link-next, .new-product__link-next, .hot-products__link-next {
  background-color: #ffffff;
  color: #898989;
  border: 1px solid #898989;
  box-sizing: border-box;
  margin-left: 7px;
}

.new-available__link-pre, .selling-product__link-pre, .new-product__link-pre, .hot-products__link-pre {
  background-color: #252525;
  color: #ffffff;
}

.new-available__row-content, .new-product__row-content, .hot-products__row-content {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

/* start sản phẩm nổi bật*/
.hot-products-title--format {
  font-size: 18px;
}
.hot-products__left {
  width: 24%;
  border: 1px solid #ebebeb;
}
.hot-products__right {
  width: 74%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-between;
}
.hot-products__row-content .wrapper-icon-title {
  padding: 22px;
  margin-bottom: 0;
  border-top: 1px solid #ebebeb;
}
.hot-products__row-content .wrapper-icon-title:first-child {
  background-color: #202020;
}
.hot-products__row-content .wrapper-icon-title:first-child .wrapper-icon-title--format {
  color: #f5bd10;
}
.hot-products__row-content .wrapper-icon-title:first-child .wrapper-icon-title--format > .wrapper-icon-title__item {
  background-color: #f5bd10;
}

/* end sản phẩm nổi bật*/
.product-item {
  text-align: center;
  width: 31.8%;
  height: 340px;
  border: 1px solid #ebebeb;
  transition: height 0.3s;
  box-shadow: 1px 1px 2px 3px #f8f8f8;
}
.product-item:hover .product-item__link-btn {
  font-size: 12px;
  padding: 15px 25px;
}
.product-item:hover {
  height: 390px;
}
.product-item__price {
  font-size: 14px;
  color: #ff0000;
  margin-bottom: 5px;
}
.product-item__link-title {
  color: #202020;
  font-size: 14px;
}
.product-item__rate {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
.product-item__number-commands {
  font-size: 12px;
  font-style: italic;
  color: #898989;
  margin-left: 5px;
}
.product-item__point {
  font-size: 12px;
}
.product-item__point > i {
  color: #f5bd10;
}
.product-item__img {
  margin: 30px 0;
  object-fit: cover;
}
.product-item__group-btn {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}
.product-item__link-btn {
  color: #ffffff;
  font-size: 0px;
  padding: 0px;
  display: inline-block;
  transition: all 0.4s;
}
.product-item__link-buy {
  background-color: #f5bd10;
  margin-right: 3px;
}
.product-item__link-detail {
  background-color: #252525;
  margin-left: 3px;
}

/* start new product */
.selling-product__category-tag, .new-product__category-tag {
  margin-left: auto;
  margin-right: 30px;
}

.selling-product__item-tag, .new-product__item-tag {
  display: inline-block;
  padding: 4px 15px;
  border: 1px solid #898989;
  margin-left: 5px;
}

.new-product-title--format {
  font-size: 18px;
}
.new-product__item-tag:first-child {
  background-color: #f5bd10;
}
.new-product__item-tag:first-child .selling-product__link-tag {
  color: #ffffff;
}
.new-product__link-tag {
  font-size: 13px;
  color: #898989;
}
.new-product .product-item {
  height: max-content;
}

/* end new product */
/* start banner mid */
.banner-mid {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.banner-mid__link {
  display: inline-block;
  width: 49%;
}
.banner-mid__img {
  width: 100%;
  height: 260px;
}

/* end banner mid */
/* start selling product (sản phẩm bán chạy) */
.selling-product-title--format {
  font-size: 18px;
}
.selling-product__link-tag {
  font-size: 13px;
  color: #898989;
}
.selling-product__item-tag:first-child {
  background-color: #f5bd10;
}
.selling-product__item-tag:first-child .selling-product__link-tag {
  color: #ffffff;
}
.selling-product__row-content {
  display: grid;
  grid-template-columns: 23.5% 23.5% 23.5% 23.5%;
  grid-template-rows: auto auto;
  justify-content: space-between;
  margin-top: 40px;
  row-gap: 3%;
}
.selling-product .product-item {
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}
.selling-product .product-item:nth-child(2) {
  grid-column: 2/span 2;
  grid-row: 1/span 2;
}
.selling-product .product-item:nth-child(2) .product-item__img {
  padding: 50px;
}

/* end selling product (sản phẩm bán chạy) */
/* start banner three*/
.banner-three__img {
  object-fit: cover;
  width: 100%;
}

/* end banner three*/
.new-available-title--format {
  font-size: 18px;
}
.new-available__row-content {
  flex-wrap: wrap;
  gap: 20px;
}
.new-available .product-item {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 49%;
  padding: 20px 15px;
}
.new-available .product-item__link-btn {
  font-size: 12px;
  padding: 15px 25px;
}
.new-available .product-item__wrapper {
  text-align: left;
  margin-left: 20px;
}
.new-available .product-item__group-btn {
  display: block;
  padding: 10px 0 40px 0;
}
.new-available .product-item__rate {
  justify-content: start;
  margin-top: 13px;
}
.new-available .product-item__description {
  color: #898989;
  font-size: 13px;
  margin: 13px 0;
}

/* end new available  */
/* start brand home */
.brand {
  height: 170px;
  margin-top: 90px;
  background-color: #f7f7f7;
}
.brand__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.brand__btn {
  position: absolute;
}
.brand__btn-left {
  left: -6%;
}
.brand__btn-right {
  right: -6%;
}
.brand__link-btn i {
  color: #898989;
  font-size: 30px;
}

/* end brand home */
/* start new letter*/
.new-letter {
  height: 225px;
  background: #000000 url(../assets/images/new-letter.png) no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
}
.new-letter__wrapper {
  width: 60%;
  margin: auto;
  text-align: center;
}
.new-letter__title {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 25px;
}
.new-letter input[type=email] {
  height: 50px;
  width: 615px;
  border-radius: 25px;
  outline: none;
  text-indent: 25px;
}
.new-letter input[type=email]::placeholder {
  text-indent: 25px;
  font-size: 16px;
  color: #acacac;
}
.new-letter input[type=submit] {
  border-radius: 25px;
  font-size: 14px;
  color: #ffffff;
  background-color: #f5bd10;
  padding: 0px 40px;
  height: 50px;
  text-transform: capitalize;
  outline: none;
  cursor: pointer;
}

/* end new letter*/
/* start footer */
.footer .footer-info {
  padding: 60px 0;
  background-color: #f7f7f7;
}
.footer .footer-info-title--format {
  font-size: 16px;
  color: #252525;
}
.footer .footer-info__top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
  border-bottom: 1px solid #ebebeb;
}
.footer .footer-info__block {
  width: 15%;
}
.footer .footer-info__block:first-child {
  width: 25%;
}
.footer .footer-info__bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}
.footer .footer-info__bottom .footer-info__block {
  width: 48%;
  display: flex;
  align-items: center;
}
.footer .footer-info__bottom .footer-info__block > i {
  color: #f5bd10;
  padding: 12px;
  border-radius: 30px;
  border: 2px solid #f5bd10;
  font-size: 24px;
  margin-right: 10px;
}
.footer .footer-info__bottom .footer-info__block .footer-info__title {
  margin-bottom: 5px;
}
.footer .footer-info__title {
  font-size: 13px;
  color: #636363;
  margin-bottom: 20px;
}
.footer .footer-info__pay {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer .footer-info__contact {
  width: 45%;
  position: relative;
}
.footer .footer-info__group-info-pay {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
}
.footer .footer-info__group-contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.footer .footer-info__hotline {
  font-weight: bold;
  font-size: 18px;
  color: #ff0000;
}
.footer .wrapper-icon-title--format {
  color: #636363;
}
.footer .wrapper-icon-title .wrapper-icon-title--format {
  margin-left: 0px;
}
.footer .wrapper-icon-title .wrapper-icon-title__list + .wrapper-icon-title--format {
  margin-left: 10px;
}
.footer-bottom {
  height: 60px;
  background-color: #252525;
}
.footer-bottom-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}
.footer-bottom__coppy-right {
  width: 49%;
}
.footer-bottom__item {
  display: inline-block;
}
.footer-bottom__title, .footer-bottom__link {
  font-size: 13px;
  color: #bebebe;
}
.footer-bottom__menu {
  margin-left: auto;
}
.footer-bottom .marker {
  font-weight: bold;
  color: #f7f7f7;
}
.footer-bottom__item {
  padding-right: 10px;
}
/* end footer */

/*# sourceMappingURL=custom.css.map */
